<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.android.tmp07"
	android:versionCode="1"
	android:versionName="1.0">
	<application
		android:label="@string/app_name"
		android:icon="@drawable/icon"
		android:theme="@android:style/Theme.NoTitleBar"
		>
		<activity android:name="ArielEvent"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".EventIndexDay"
			android:label="@string/eventindex_day_title">
		</activity>
		<activity android:name=".EventListView"
			android:label="@string/eventindex_listview_title">
		</activity>
		<activity android:name=".EditEvent"
			android:label="@string/editevent_title">
		</activity>
		<activity android:name=".EventViewer"
			android:label="@string/eventviewer_title">
		</activity>
	</application>
</manifest> 
