<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.ariel.android.airpocket"
	android:versionCode="2"
	android:versionName="1.0">
	<application
		android:label="@string/app_name"
		android:icon="@drawable/icon"
		android:theme="@android:style/Theme.NoTitleBar"
		>
		<activity android:name="AirPocket"
			android:screenOrientation="portrait"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".EventIndexMonth"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
			/>
		<activity android:name=".EventIndexDay"
			android:screenOrientation="portrait"
			android:label="@string/eventindex_day_title">
		</activity>
		<activity android:name=".EventListView"
			android:screenOrientation="portrait"
			android:label="@string/eventindex_listview_title">
		</activity>
		<activity android:name=".EditEvent"
			android:screenOrientation="portrait"
			android:label="@string/editevent_title">
		</activity>
		<activity android:name=".EventViewer"
			android:screenOrientation="portrait"
			android:label="@string/eventviewer_title">
		</activity>
		<activity android:name="EditLabel"
			android:screenOrientation="portrait"
			android:label="@string/app_name"
			android:theme="@android:style/Theme.Dialog"/>
		<activity android:name="ItemSelect"
			android:screenOrientation="portrait"
			android:label="@string/app_name"
			android:theme="@android:style/Theme.Dialog"/>
		<activity android:name="ProgressiveProcessing"
			android:screenOrientation="portrait"
			android:label="@string/app_name"
			android:theme="@android:style/Theme.Dialog"/>
		<activity android:name="InputTwoColumns"
			android:screenOrientation="portrait"
			android:label="@string/app_name"
			android:theme="@android:style/Theme.Dialog"/>
		<activity android:name=".ShowConfig"
			android:screenOrientation="portrait"
			android:label="@string/eventviewer_title"/>
	</application>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_CONTACTS"/>
</manifest> 
